html{
    color:darkslategray;
    background-color: tan;
    margin-left: 100px;
    margin-right: 1000px;
}

.wolf{
color:brown;
font-size:30px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pig{
    color:darkmagenta;
    font-size: 20px;
    font-family: 'serif'
}

h1{
    font-family: 'Antiqua';
    font-size: 50px;
}

h3{
    font-family: 'Antiqua';
    font-size: 30px;
}

img{
    height: 100px;
    width: 100px;
}

img a {
    height: 100px;
    width: 200px;
}

article{
    font-family: script;
    font-size:20px
}

#puffy{
    font-size: 45px;
}